. .venv/bin/activate

export KUBE_NAMESPACE=chain-link
export KUBE_LABEL_SELECTOR=app=chain-link
export SERVICE_NAME=chain-link-0
export SERVICES_LIST=http://localhost:5001,http://localhost:5002,http://localhost:5003

alias m=make